.contact-section {
  background: #f8f9fa; /* Yorug‘roq fon */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contact-image {
  width: 350px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
